<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Matrix</title>
</head>
<body>
<p align="center"><h1>Hello my name is Aleks and that is my matrix calculator</h1></p>
    <a href="http://instagram.com/alexise__03">Aleks Instagram</a>
    <h2><a href="{{ url_for('matrix') }}">Matrix app</a></h2>
</body>
</html>